.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 5px;
  overflow: hidden;
  background-color: #0000e6;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;

}

.nav li {
  width:19.8%;
  float: left;
  border-right: 1px solid #bbb;
  display: inline;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 0;
  text-decoration: none;
}

.main-nav li a:hover {
  background-color: #0000b3;
}

.nav li:last-child {
  border-right: none;
}

.Page1 {
	background-color: #049CC3;
}

.Page2 {
	background-color: #009221;
}

.Page3 {
	background-color: #FCFF02;
}

.Page4 {
	background-color: red;
}

.iframe-Contents{
	margin: 0;
	padding: 0;
}

.iframe-Contents iframe{
	display: block;
	position: relative;
	top: 50px;
	left: 20px;
	width : 100vw; 
	height: 80vh;
	max-width: 97%;
	max-height: 80%;
	margin: 0;
	padding: 0;
	border: 0 none;
	box-sizing: border-box;
}

.Text-P1 p{
	position:relative;
	top: 30px;
	text-align: center;
	font-size: 160%;
}

table{
	width: 100%;
	text-align: center;
	font-size: 1.25em;
	position: relative;
	top:50px
}
th{
	font-size: 1.3em;
}
pre{
	font-size: 1.3em;
}
#First {
	top: 50px;
}

.main-footer {
	color: white;
}
.main-footer h1 {
	font-size: 4em;
	align: center;
}
.main-footer-container {
	display: flex;
	align-items: center;
	align: center;
}
.main-footer-container ul {
	flex-grow: 5;
	text-align: end;
}

.main-footer li {
	padding: 0 3.5%;
}

.btn {
	text-align: center;
	vertical-align:middle;
	padding: .67em .67em;
	cursor: pointer;
}

.btn-primary {
	color: White;
	background-color: #56CCF2;
	border: none;
	border-radius: .3em;
	font-weight: bold;
}

.btn-primary:hover {
	background-color: #2D9CDB;
}

.shop-item {
	margin: 30px;
	cursor: pointer;
	position: relative;
}

.shop-item-title {
	display: block;
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size; 1.5em;
	color; #333;
	margin-bottom: 15px
}

.shop-item-image {
	height: 250px;
}

.shop-item-details {
	display: flex;
	align-items: center;
	padding: 5px;
}

.shop-item-price {
	flex-grow: 1;
}

.shop-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	position: relative;
}

.cart-header {
	font-weight: bold;
	font-sizblack;
}

.cart-column {
	display: flex;
	align-items: center;
	border-bottom: 1px solid black;
	margin-right: 1.5em;
	padding-bottom: 10px;
	margin-top: 10px;
}

.cart-row {
	display: flex;
}

.cart-item {
	width: 45%;
}

.cart-price {
	width: 20%;
	font-size:1.2em;
	color: #333;
}

.cart-quantity {
	width: 35%;
}

.cart-item-title {
	color: #333;
	margin-left: .5em;
	font-size: 1.2em;
}

.cart-item-image {
	width: 75px;
	height: auto;
	border-radius: 10px;
}

.btn-danger {
	color: white;
	background-color: green;
	border: none;
	border-radius: .3em;
	font-weight: bold;
}

.btn-danger:hover {
	background-color: red;
}

.cart-quantity-input {
	height: 25px;
	width: 50px;
	border-radius: 5px;
	border: 1px solid #56CCF2;
	background-color: #eee;
	color: #333;
	padding: 0;
	text-align: center;
	font-size: 1.2em;
	margin-right: 25px;
}

.cart-row:last-child {
	border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
	border: none;
}

.cart-total {
	text-align: end;
}

.cart-total-title {
	font-weight: bold;
	font-size: 1.5em;
	color: black;
	margin-right: 20px;
}

.cart-total-price {
	color: #333;
	font-size: 1.1em;
	margin-top:10px;
	margin-right: 10px;
}

.btn-purchase {
	display: block;
	margin: 40px auto 80px auto ;
	font-size: 1.75em;
}

.cart-section {

}

.hovered {
	background: darkred;
	border-style: dashed;
}

.invisible {

}

.Jazz-T-Shirt {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}



#ts_maker{
	background-color:white;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	width:350px;
	height:350px;
}
#text_holder{
	position:absolute;
	top:42%;
	left:50%;
	transform: translate(-50%, -50%);
	background: white;
	color:black;
}
